@import '../constants.scss';

.assignmentsContainer {
  width: 100%;
  padding: 20px;
  height: 100%;
  h4 {
    display: flex;
    justify-content: space-between;
    svg {
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        background-color: $primary;
      }
    }
  }

  .allsubjects {
    // background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .subjectCard {
      background-color: $secondary;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      a {
        color: $primary;

        &:hover {
          color: $font_secondary;
        }
      }
      svg {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.modal-Heading {
  display: flex;
  justify-content: space-between;

  svg {
    &:hover {
      cursor: pointer;
    }
  }
}
.modalForm {
  display: flex;
  flex-direction: column;
  label {
    margin: 5px;
  }
  input {
    border-radius: 3px;
    border: 1px solid black;
  }
  textarea {
    border-radius: 3px;
    border: 1px solid black;
  }
}
.updateorCreate {
  border: none;
  background-color: $secondary;
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: $primary;
}
