@import '../constants.scss';

.assignmentsContainer {
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  h4 {
    display: flex;
    justify-content: space-between;
    color: var(--font-primary);
    svg {
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        background-color: var(--color-primary);
      }
    }
  }

  .allsubjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .subjectCard {
      background-color: var(--color-secondary);
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 300px;
      a {
        color: var(--font-secondary);

        &:hover {
          color: var(--font-primary);
        }
      }
      svg {
        margin: 0 5px 0 5px;
        path{
          stroke: var(--color-accent2);
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.Modal {
  background-color: var(--color-primary);
}
.modal-Heading {
  display: flex;
  justify-content: space-between;

  svg {
    &:hover {
      cursor: pointer;
    }
  }
}
.modalForm {
  display: flex;
  flex-direction: column;
  label {
    margin: 5px;
  }
  input {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    // background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
  }
  select {
    margin: 5px;
    padding: 5px;
  }
  textarea {
    margin: 5px;
    // background-color: var(--color-primary);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
  }
}
.updateorCreate {
  border: none;
  background-color: var(--color-secondary);
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--font-primary);
}
