@import '../constants.scss';

.classroombox {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 10px;
  overflow-y: scroll;
  color: var(--font-primary);
  .classBanner {
    height: 10rem;
    border-radius: 10px;
    color: black;
    padding: 10px;
    background-image: url('../../assets/backimage.png');
    background-size: cover;
  }

  .classroomOptions {
    background-color: var(--color-secondary);
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    li {
      width: 50%;
      font-size: 1.1rem;
      text-align: center;
      border-radius: 20px;
      padding: 5px;
      color: var(--color-primary);
      cursor: pointer;
    }
    .active {
      pointer-events: none;
      background-color: var(--color-accent1);
    }
  }

  .studentsBottom {
    margin: 0.7rem;
    h6 {
      text-decoration: underline;
      padding-right: 2rem;
      text-align: end;
      cursor: pointer;
    }
    .student {
      padding: 10px;
      display: flex;
      border-radius: 10px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      h5{
        font-size: 1.2rem;
      }
      button {
        border: none;
        visibility: hidden;
        background-color: var(--color-accent2);
        padding: 5px;
        font-size: 0.7rem;
        border-radius: 5px;
        font-size: 1rem;
        color: var(--color-primary);
      }
      &:hover {
        box-shadow: var(--box-shad);
        background-color: var(--color-secondary);
        button {
          visibility: visible;
        }
      }
    }
  }
  .classworkBottom {
    h6 {
      text-decoration: underline;
      padding-right: 2rem;
      text-align: end;
      cursor: pointer;
    }
    .work {
      margin: 0.8rem;
      padding: 0.8rem 0.8rem 0.2rem 0.8rem;
      border-radius: 10px;
      border: 2px solid var(--color-secondary);
      display: flex;
      flex-direction: row;
      .workmid{
        h3{
          color: var(--font-primary);
          font-size: 1.1rem;
          overflow:hidden;
        }
      }
      &:hover {
        background-color: var(--color-secondary);
        box-shadow: 6px 4px 11px -5px rgba(56, 56, 56, 0.58);
        -webkit-box-shadow: 6px 4px 11px -5px rgba(56, 56, 56, 0.58);
        -moz-box-shadow: 6px 4px 11px -5px rgba(56, 56, 56, 0.58);
      }
      .duedate {
        color: red;
        font-size: 1rem;
      }
    }
  }
}
