@import '../constants.scss';

.classBanner {
  background-color: blue;
  height: 10rem;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  background-image: url('../../assets/backimage.png');
  background-size: cover;
}
