@import '../constants.scss';

.doubtsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: var(--font-primary);
  .teacherList {
    width: 15vw;
    margin: 0;
    border-radius: 5px;
    background-color: var(--color-primary);
    list-style-type: none;
    padding: 5px;
    overflow-y: scroll;
    a {
      text-decoration: none;
      li {
        margin-top: 5px 0;
        padding: 0.5rem;
        border-radius: 5px;
        color: var(--font-secondary);
        border: 1px solid var(--color-accent2);
        img {
          width: 40px;
          margin-right: 5px;
        }
        &:hover {
          color: var(--color-primary);
          background-color: var(--color-accent2);
        }
      }
    }
  }
  .theChat {
    margin-left: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--color-primary);
    .top {
      height: 6%;
      background-color: var(--color-accent1);
      border-radius: 5px 5px 0 0;
      padding: 0.35rem 1.5rem;
      color: var(--color-primary);
      font-size: 1.2rem;
    }
    .mid {
      height: 86%;
      padding:0.4rem;
      overflow-y: scroll;
      .chat{
        display: flex;
        flex-direction: row;
        max-height: fit-content;
        width: 80%;
        img{
          width: 40px;
          height: 40px;
        }
        .message{
          padding: 10px;
          margin-left: 10px;
          background-color: var(--color-secondary);
          color: white;
          border-left: 10px solid var(--color-primary);
          border-top: 10px solid transparent;
          border-radius: 5px;
        }
      }
      .studentMessage{
        margin-left:20% ;
        flex-direction: row-reverse;
        .message{
          border-left: 0px solid var(--color-primary);
          border-right: 10px solid var(--color-primary);
          border-top: 10px solid transparent;
          margin-right: 10px;
        }
      }
    }
    .bottom {
      height: 8%;
      background-color: var(--color-accent1);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      border-radius:0 0 5px 5px;
      input {
        width: 92%;
        border-radius: 4px;
        padding: 0.25rem;
        background-color: var(--color-primary);
        color: var(--font-primary);
        border: none;
      }
      button {
        width: 6%;
        background-color: var(--color-accent2);
        padding: 0.4rem;
        border: none;
        border-radius: 5px;
        color: var(--color-primary);
      }
    }
  }
}
