@import '../constants.scss';

.LiveContainer {
  width: 100%;
  padding: 20px;
  height: 100%;
  color:var(--font-secondary);
  .liveclasses {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .tlive {
      background-color: var(--color-primary);
      width: 18vw;
      margin: 0.4rem;
      padding: 1rem;
      border-radius: 1rem;
      text-align: center;
      button {
        background-color: var(--color-accent2);
        border: none;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        color: var(--color-primary);
      }
      &:hover {
        box-shadow: 20px 20px 40px var(--color-primary), -20px -20px 40px var(--color-primary);
        transform: translateZ(10px) scale(1.05);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
