@import '../constants.scss';
a {
  text-decoration: none;
  color: $font_secondary;
  &:hover {
    color: $accent2;
  }
  .back {
    border-radius: 50%;
    margin: 5px;
    &:hover {
      background-color: $primary;
      cursor: pointer;
    }
  }
}
.playerWrapper {
  display: flex;
  justify-content: center;
}
