@import '../constants.scss';

.timetable {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  img {
    border: 1px solid var(--color-accent1);
    width: 70%;
    height: 95%;
  }
}

.wrapper{
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  h4 {
    display: flex;
    justify-content: space-between;
    color: var(--font-primary);
    }
}


