@import '../constants.scss';
.upperContainer {
  background-color: var(--color-secondary);
  width: 100vw;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .left {
    display: flex;
    flex-direction: row;
    .logo {
      margin: 10px 20px;
    }
    #logoname {
      font-family: Poppins;
      color: var(--font-primary);
      font-weight: bolder;
      margin: 10px 0px;
      font-size: 25px;
      line-height: 42px;
      letter-spacing: 0.05em;
    }
    span {
      margin: 10px 0px 10px 5px;
      padding: 5px;
      border-radius: 50%;
      // background-color: red;
      cursor: pointer;
    }
  }

  .right {
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 32px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #262626;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 40px;
      width: 40px;
      left: 0px;
      bottom: 4px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-shadow: 0 0px 15px #2020203d;
      background: rgb(14, 14, 14) url('https://i.ibb.co/FxzBYR9/night.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    input:checked + .slider {
      background-color: var(--color-primary);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
      background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 10px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    img {
      margin: 10px 20px;
    }
    font-family: Montserrat;
    color: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;
    span {
      margin: 5px;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
