@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.theme-light {
  --color-primary: #e6e6e6;
  --color-secondary: #5c7aea;
  --color-accent1: #3d56b2;
  --color-accent2: #14279b;
  --font-primary: #000000;
  --font-secondary: #150e56;
  --box-shad: 10px 10px 24px #bdbdbd, -10px -10px 24px #ffffff;
}
.theme-dark {
  --color-primary: #1b262c;
  --color-secondary: #0f4c75;
  --color-accent1: #3282b8;
  --color-accent2: #bbe1fa;
  --font-primary: #fff;
  --font-secondary: #d8d8d8;
  --box-shad: 10px 10px 24px #151e22, -10px -10px 24px #212e36;
}

.wrapper {
  height: calc(100vh - 3.75rem);
  width: calc(100vw - 250px);
  background-color: var(--color-primary);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent2);
  border-radius: 5px;
}
// ::-webkit-scrollbar-thumb:hover {
//   background: #3d56b2;
// }
::-webkit-scrollbar-track {
  background: var(--color-primary);
  opacity: 50%;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

@media screen and (max-width: 992px) {
  .wrapper {
    width: 100vw;
  }
}
